<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>javagreenJ</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>test09Ok</servlet-name>
  	<servlet-class>t0418.Test09Ok</servlet-class> <!-- 패키지명.이름 -->
  </servlet>
  <servlet-mapping> <!-- servlet 매핑 -->
  	<servlet-name>test09Ok</servlet-name>
  	<url-pattern>/T09</url-pattern> <!-- 컨트롤러명 -->
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>test08Ok</servlet-name>
  	<servlet-class>t0418.Test08Ok</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>test08Ok</servlet-name>
  	<url-pattern>/T08</url-pattern>
  </servlet-mapping>
 <!--  
  <servlet>
  	<servlet-name>t0421_init</servlet-name>
  	<servlet-class>t0421.T0421_init</servlet-class>
  	특정 서블릿에 초기값을 할당한다.
  	<init-param>
  		<param-name>mid</param-name>
  		<param-value>admin</param-value>
  	</init-param>
  	<init-param>
  		<param-name>pwd</param-name>
  		<param-value>1234</param-value>
  	</init-param>
  	<init-param>
  		<param-name>className</param-name>
  		<param-value>INSA</param-value>
  	</init-param>
  	
  </servlet>
  <servlet-mapping>
  	<servlet-name>t0421_init</servlet-name>
  	<url-pattern>/Tinit</url-pattern>
  </servlet-mapping>
   -->
   
   <!-- 공통변수로 초기값 할당하기(모두가 사용), 값만 설정해놓는거임 -->
   <context-param>
   	<param-name>logoName</param-name>
   	<param-value>Java Green Company</param-value>
   </context-param>
   <context-param>
   	<param-name>homeAddress</param-name>
   	<param-value>www.javagreencompany.com</param-value>
   </context-param>
   
   <!-- error 페이지 설정하기 -->
   <!-- 
   <error-page>
   	<error-code>400</error-code>
   	<location>/error/error404.jsp</location>
   </error-page>
   
   <error-page>
   	<error-code>404</error-code>
   	<location>/error/error404.jsp</location>
   </error-page>
   
   <error-page>
   	<error-code>405</error-code>
   	<location>/error/error404.jsp</location>
   </error-page>
   
   <error-page>
   	<error-code>500</error-code>
   	<location>/error/error500.jsp</location>
   </error-page>
    -->
  <!-- Filter 매핑처리 -->
  <!-- 
  <filter>
  	<filter-name>encodingFilter</filter-name>
  	<filter-class>filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>encodingFilter</filter-name>
  	<url-pattern>/*</url-pattern> * : 모든 적용을 하겠다
  </filter-mapping>
   -->
</web-app>