<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>javagreenJ</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>test09Ok</servlet-name>
  	<servlet-class>t0418.Test09Ok</servlet-class> <!-- 패키지명.이름 -->
  </servlet>
  <servlet-mapping> <!-- servlet 매핑 -->
  	<servlet-name>test09Ok</servlet-name>
  	<url-pattern>/T09</url-pattern> <!-- 컨트롤러명 -->
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>test08Ok</servlet-name>
  	<servlet-class>t0418.Test08Ok</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>test08Ok</servlet-name>
  	<url-pattern>/T08</url-pattern>
  </servlet-mapping>
</web-app>